/* Custloanapplysty.css */
/* Customer-Loan-ApplyNow Style */
.section2{
    background-color: #f5f2f7;
}
.custloanapplypt1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #e7c4fe, #f3ecf8);
    padding-left: 150px;
    height: 330px;

}
.custloanapplypt2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #f5f2f7;
    border: 2px solid #cac8cc;
    border-radius: 20px;
    margin-left: 225px;
    margin-right: 225px;
    margin-top: 20px;


}
#custimg{
    padding-left: 450px;
    height: 300px;
    position:absolute;
    top:30px;
}
.custloanptcol1{
    padding-left: 30px;
    font-weight: bold;
    
}
.custloanptcol2{
    padding-left: 150px;
    font-weight: bold;
}
h3{
    color:purple;
}
#submitbtn{
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}
#loantypebox,#amtrequiredbox{
    width: 450px;
}
#purposeloanbox{
    width: 1015px;
    height:60px;
    
}
.formpt{
    padding-left: 70px;
}
.formborder{
    padding-right: 70px;
}
.radiobtn{
    background-color: #e5c3fb;
    border-radius: 10px;
    color:#d18ffd;
}