.CustLoanEmplDetails{
        padding-top: 260px;
   }
   .CustLoanEmplDetailshorizontalcard{
       border-radius: 20px !important;
       overflow: hidden;
       background-color: #F5F2F7;
       position: relative;
   }
   .CustLoanEmplDetailsCustcontainer1{
       border-radius: 20px !important;
   }
   
   #Employ{
      position: relative;
      right:210px;
      top: 20px;
      width: auto;
      padding: 0px 38px 3px;
      border-radius: 20px!important;
      background-color: #BF5DFF;
      color: white;
      border: none;
   }
   
   .CustLoanEmplDetailscirclecontainer {
       display: flex;
       align-items: center;
       gap: 290px; 
       position: absolute;
       margin-top: -115px;
       left: 190px;
       align-items: start;
   }
   
   .CustLoanEmplDetailscircle1 {
    width: 60px;
    height: 60px;
    background-color: #BF5DFF;
    border-radius: 50%;
    justify-content: center;    
    align-items: center;         
    font-size: 19px;             
    color: white;                
    text-align: center;
    line-height: 53px;  
    position: relative;
    left: 50px;
   }
   .CustLoanEmplDetailscircle2 {
    width: 60px;
    height: 60px;
    background-color: #BF5DFF;
    border-radius: 50%;
    justify-content: center;    
    align-items: center;         
    font-size: 19px;             
    color: white;                
    text-align: center;
    line-height: 53px;  
    position: relative;
    right:530px;
   }
   .CustLoanEmplDetailscircle3 {
    width: 60px;
    height: 60px;
    background-color: #BF5DFF;
    border-radius: 50%;
    justify-content: center;    
    align-items: center;         
    font-size: 19px;             
    color: white;                
    text-align: center;
    line-height: 53px; 
    position: relative;
    right:1150px;
   }
   .CustLoanEmplDetailsformcontrol {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    background: #fff;
    
   }
   .CustLoanEmplDetailsCustIcon{
       position: absolute;
         right: 48px; 
         top: 278px;
           
       }
       .CustLoanEmplDetailsInput1{
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-color: #BF5DFF;
        position: relative;
        right:240px;
        width: 290px;
     } 
     .CustLoanEmplDetailsInput2{
         border-top: 0px;
         border-left: 0px;
         border-right: 0px;
         border-color: #BF5DFF;
         position: relative;
         right:820px;
         width: 290px;
     
     }
            
         
         
         
         
   
   