       .CustLoanIdentity{
         padding-top: 260px;
    }
    .CustLoanIdentityhorizontal-card{
        border-radius: 20px !important;
        overflow: hidden;
        background-color: #F5F2F7;
        position: relative;
    }
    .CustIdentitycontainer1{
        border-radius: 20px !important;
    }
    
    #CustomerLoanIdentity{
       position: relative;
       right:210px;
       top: 120px;
       width: auto;
       padding: 0px 38px 3px;
       border-radius: 20px!important;
       background-color: #BF5DFF;
       color: white;
       border: none;
    }
    .CustLoanIconArrow{
        position: absolute;
        left:495px;
        bottom:31px;
        color: white;
        
    }
    .CustLoanIdentitycirclecontainer {
        display: flex;
        align-items: center;
        gap: 290px; 
        position: absolute;
        margin-top: -115px;
        left: 190px;
        align-items: start;
    }
    
    .custLoanIdentitycircle1 {
        width: 60px;
        height: 60px;
        background-color: #BF5DFF;
        border-radius: 50%;
        justify-content: center;    
        align-items: center;         
        font-size: 19px;             
        color: white;                
        text-align: center;
        line-height: 53px;  
        position: relative;
        left: 50px;
    }
    .custLoanIdentitycircle2 {
        width: 60px;
        height: 60px;
        background-color: #BF5DFF;
        border-radius: 50%;
        justify-content: center;    
        align-items: center;         
        font-size: 19px;             
        color: white;                
        text-align: center;
        line-height: 53px;  
        position: relative;
    right:530px;
    }
    .custLoanIdentitycircle3 {
        width: 60px;
        height: 60px;
        background-color: #E4D9EC;
        border-radius: 50%;
        justify-content: center;    
        align-items: center;         
        font-size: 19px;             
        color: black;                
        text-align: center;
        line-height: 53px; 
        position: relative;
        right:1150px;
    }
    .customerLoanIdentityformcontrol {
        width: 100%;
        padding: 12px 15px;
        margin-bottom: 25px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
        color: #333;
        background: #fff;
        
    }
    .CustLoanIdentityIcon{
        position: absolute;
          right: 48px; 
          top: 283px;
            
        }
.CustLoanIdentityIcon1{
    position: absolute;
    bottom: 298px;
    left:400px
}
.CustLoanIdentityIcon2{
    position: absolute;
    bottom: 107px;
    left:400px
}
.CustLoanIdentityIcon3{
    position: absolute;
    bottom: 395px;
    left:835px
}
.CustLoanIdentityIcon4{
    position: absolute;
    bottom: 296px;
    left:835px
}
.CustLoanIdentityInput1{
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-color: #BF5DFF;
   position: relative;
   right:240px;
   width: 290px;
} 
.CustLoanIdentityInput2{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    position: relative;
    right:820px;
    width: 290px;

}
       
    
    
    
    