.CustomerLifeInsuranceHealthDocument {
    padding-top: 260px;
}

.CustomerLifeInsuranceHealthDocumentcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.CustomerLifeInsuranceHealthDocumentcircle1{
    width: 60px;
    height: 60px;
    background-color: #BF5DFF;
    border-radius: 50%;
    justify-content: center;    
    align-items: center;         
    font-size: 19px;             
    color: white;                
    text-align: center;
    line-height: 53px;  
    position: relative;
    left: 300px;
    bottom: 70px;
}
.CustomerLifeInsuranceHealthDocumentcircle2{
    width: 60px;
    height: 60px;
    background-color:#E4D9EC;
    border-radius: 50%;
    justify-content: center;    
    align-items: center;         
    font-size: 19px;             
    color: black;                
    text-align: center;
    line-height: 53px;  
    position: relative;
    right:1px;
    bottom: 70px;

}
.CustomerLifeInsuranceHealthDocumentcircle3 {
    width: 60px;
    height: 60px;
    background-color:#E4D9EC;
    border-radius: 50%;
    justify-content: center;    
    align-items: center;         
    font-size: 19px;             
    color: black;                
    text-align: center;
    line-height: 53px; 
    position: relative;
    right:300px;
    bottom: 70px;

}

.CustomerLifeInsuranceHealthDocumentInput1 {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color:#E4D9EC;
    position: relative;
    left:150px;
    width: 300px; 
   bottom: 85px;

}

.CustomerLifeInsuranceHealthDocumentInput2 {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color:#E4D9EC;
    position: relative;
    right:151px;
    width: 300px; 
   bottom: 85px;
}

.CustomerLifeInsuranceHealthDocumentformcontrol {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    background: #fff;
}

.CustomerLifeInsuranceHealthDocumentIcon1 {
    position: absolute;
    right: 425px;
    bottom: 228px;
}
.CustomerLifeInsuranceHealthDocumentIcon2 {
    position: absolute;
    right: 425px;
    bottom: 134px;
}
.CustomerLifeInsuranceHealthDocumentIcon3 {
    position: absolute;
    right: 60px;
    bottom: 228px;
}

.CustomerLifeInsuranceHealthDocumentcontinuebutton {
    width: auto;
    padding: 8px 38px;
    border-radius: 20px !important;
    background-color: #BF5DFF;
    color: white;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.CustomerLifeInsuranceHealthDocumentpolicycard {
    width: 700px;
    padding: 20px;
    border-radius: 10px;
    /* background: #F6F2FF; */
    margin: 0 auto;
}

.CustomerLifeInsuranceHealthDocumenthorizontalcard {
    border-radius: 20px !important;
    overflow: hidden;
    /* background-color: #F5F2F7; */
    position: relative;
}
